.letter {
	position:relative;
	width:230px;
	height:300px;
	display:inline-block;
	margin-top: 200px;
	margin-bottom: 200px;
	margin-left: 100px;
}

body {
	margin: 0;
}


/* letter a */
.a-circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 0;
}

.a-rect-white {
	width: 200px;
	height: 100px;
	background: white;
	position: absolute;
	top: 100px;
	left: 0px;
}

.a-circle-white {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 60px;
	top: 60px;
}

.a-stem {
	width: 60px;
	height: 210px;
	background: black;
	position: absolute;
	left: 140px;
	top: 90px;
}

.a-circle-bottom {
	width: 190px;
	height: 190px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	background: black;
	position: absolute;
	left: 0;
	top: 110px;
}

.a-circle-bottom-w {
	width: 90px;
	height: 90px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	background: white;
	position: absolute;
	left: 50px;
	top: 160px;
}

.a-serif-block {
	width: 50px;
	height: 90px;
	background: black;
	position: absolute;
	left: 180px;
	top: 210px;
}

.a-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 200px;
	top: 175px;
}


/* letter b */
.b-stem {
	width: 60px;
	height: 375px;
	background: black;
	position: absolute;
	left: 30px;
	top: -75px;
}

.b-serif-block {
	width: 50px;
	height: 90px;
	background: black;
	position: absolute;
	left: 0;
	top: -75px;
}

.b-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: -40px;
	top: -25px;
}

.b-circle {
	width: 190px;
	height: 190px;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	background: black;
	position: absolute;
	left: 40px;
	top: 110px;
}

.b-circle-w {
	width: 85px;
	height: 85px;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	background: white;
	position: absolute;
	left: 90px;
	top: 160px;
}


/* letter c */
.c-circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 0;
	top: 25px;
}

.c-circle-bottom {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 0;
	top: 100px;
}

.c-stem {
	width: 60px;
	height: 90px;
	background: black;
	position: absolute;
	left: 0;
	top: 115px;
}

.c-rect-middle {
	width: 150px;
	height: 90px;
	background: white;
	position: absolute;
	left: 60px;
	top: 115px;
}

.c-circle-top {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 60px;
	top: 75px;
}

.c-circle-bottom2 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 60px;
	top: 160px;
}


/* letter d */
.d-stem {
	width: 60px;
	height: 375px;
	background: black;
	position: absolute;
	left: 140px;
	top: -75px;
}

.d-serif-block {
	width: 50px;
	height: 90px;
	background: black;
	position: absolute;
	left: 180px;
	top: -75px;
}

.d-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 200px;
	top: -25px;
}

.d-circle {
	width: 190px;
	height: 190px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	background: black;
	position: absolute;
	left: 0;
	top: 110px;
}

.d-circle-w {
	width: 85px;
	height: 85px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	background: white;
	position: absolute;
	left: 55px;
	top: 160px;
}


/* letter e */
.e-circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 0px;
	top: 25px;
}

.e-circle-bottom {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 0px;
	top: 100px;
}

.e-stem {
	width: 60px;
	height: 90px;
	background: black;
	position: absolute;
	left: 0px;
	top: 115px;
}

.e-rect-middle {
	width: 150px;
	height: 90px;
	background: white;
	position: absolute;
	left: 60px;
	top: 115px;
}

.e-circle-top {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 60px;
	top: 75px;
}

.e-circle-bottom2 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 60px;
	top: 160px;
}

.e-bar {
	width: 140px;
	height: 55px;
	background: black;
	position: absolute;
	left: 60px;
	top: 110px;
}


/* letter f */
.f-stem {
	width: 60px;
	height: 260px;
	background: black;
	position: absolute;
	left: 30px;
	top: 65px;
}

.f-circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 30px;
	top: -25px;
}

.f-rect-white {
	width: 140px;
	height: 100px;
	background: white;
	position: absolute;
	top: 75px;
	left: 90px;
}

.f-circle-white {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 90px;
	top: 35px;
}

.f-bar {
	width: 140px;
	height: 55px;
	background: black;
	position: absolute;
	left: 50px;
	top: 110px;
}

.f-serif {
	width: 50px;
	height: 90px;
	background: black;
	position: absolute;
	left: 0;
	top: 235px;
}

.f-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: -40px;
	top: 200px;
}

/* letter g */
.g-stem {
	width: 60px;
	height: 130px;
	background: black;
	position: absolute;
	left: 140px;
	top: 90px;
}

.g-circle-bottom {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 0px;
	top: 125px;
}

.g-circle-bottom2 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 60px;
	top: 185px;
}

.g-rect-white {
	width: 140px;
	height: 100px;
	background: white;
	position: absolute;
	top: 125px;
	left: 0px;
}

.g-circle {
	width: 200px;
	height: 200px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	background: black;
	position: absolute;
	left: 0;
}

.g-serif-block {
	width: 90px;
	height: 90px;
	background: black;
	position: absolute;
	left: 140px;
}

.g-circle2 {
	width: 80px;
	height: 80px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	background: white;
	position: absolute;
	left: 60px;
	top: 60px;
}

.g-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 200px;
	top: 55px;
}


/* letter h */
.h-stem {
	width: 60px;
	height: 325px;
	background: black;
	position: absolute;
	left: 30px;
	top: -25px;
}

.h-serif-block {
	width: 50px;
	height: 90px;
	background: black;
	position: absolute;
	left: 0;
	top: -25px;
}

.h-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: -40px;
	top: 25px;
}

.h-circle {
	width: 190px;
	height: 190px;
	border-top-right-radius: 50%;
	background: black;
	position: absolute;
	left: 40px;
	top: 110px;
}

.h-circle-w {
	width: 85px;
	height: 85px;
	border-top-right-radius: 50%;
	background: white;
	position: absolute;
	left: 90px;
	top: 165px;
}

.h-rect2 {
	width: 85px;
	height: 95px;
	background: white;
	position: absolute;
	left: 90px;
	top: 210px;
}


/* letter i */
.i-stem {
	width: 60px;
	height: 275px;
	background: black;
	position: absolute;
	left: 40px;
	top: 25px;
}

.i-serif-block {
	width: 50px;
	height: 90px;
	background: black;
	position: absolute;
	left: 5px;
	top: 25px;
}

.i-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: -30px;
	top: 80px;
}

.i-bottom {
	width: 140px;
	height: 55px;
	background: black;
	position: absolute;
	left: 0px;
	top: 245px;
}

.i-dot {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 10px;
	top: -75px;
}


/* letter j */
.j-stem {
	width: 60px;
	height: 200px;
	background: black;
	position: absolute;
	left: 140px;
	top: 25px;
}

.j-circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 0px;
	top: 125px;
}

.j-rect-white {
	width: 140px;
	height: 100px;
	background: white;
	position: absolute;
	top: 125px;
	left: 0px;
}

.j-circle2 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 60px;
	top: 185px;
}

.j-dot {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 145px;
	top: -75px;
}

.j-serif-block {
	width: 50px;
	height: 90px;
	background: black;
	position: absolute;
	left: 180px;
	top: 25px;
}

.j-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 200px;
	top: 80px;
}


/* letter k */
.k-stem {
	width: 60px;
	height: 325px;
	background: black;
	position: absolute;
	left: 30px;
	top: -25px;
}

.k-serif-block {
	width: 50px;
	height: 90px;
	background: black;
	position: absolute;
	left: 0;
	top: -25px;
}

.k-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: -40px;
	top: 25px;
}

.k-circle {
	width: 190px;
	height: 190px;
	border-top-right-radius: 50%;
	background: black;
	position: absolute;
	left: 40px;
	top: 110px;
}

.k-circle-w {
	width: 85px;
	height: 85px;
	border-top-right-radius: 50%;
	background: white;
	position: absolute;
	left: 90px;
	top: 165px;
}

.k-rect2 {
	width: 85px;
	height: 95px;
	background: white;
	position: absolute;
	left: 90px;
	top: 210px;
}

.k-circle2 {
	width: 190px;
	height: 190px;
	border-bottom-right-radius: 50%;
	background: black;
	position: absolute;
	left: 40px;
	top: -25px;
}

.k-circle-w2 {
	width: 85px;
	height: 85px;
	border-bottom-right-radius: 50%;
	background: white;
	position: absolute;
	left: 90px;
	top: 30px;
}

.k-rect2-2 {
	width: 85px;
	height: 95px;
	background: white;
	position: absolute;
	left: 90px;
	top: -25px;
}


/* letter l */
.l-stem {
	width: 60px;
	height: 325px;
	background: black;
	position: absolute;
	left: 30px;
	top: -25px;
}

.l-serif-block {
	width: 50px;
	height: 90px;
	background: black;
	position: absolute;
	left: 0;
	top: -25px;
}

.l-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: -40px;
	top: 25px;
}

/* letter m */
.m-stem {
	width: 60px;
	height: 325px;
	background: black;
	position: absolute;
	left: 30px;
	top: -25px;
}

.m-serif-block {
	width: 50px;
	height: 90px;
	background: black;
	position: absolute;
	left: 0;
	top: -25px;
}

.m-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: -40px;
	top: 25px;
}

.m-circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 30px;
	top: -25px;
}

.m-rect-white {
	width: 140px;
	height: 100px;
	background: white;
	position: absolute;
	top: 75px;
	left: 90px;
}

.m-circle-white {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 90px;
	top: 35px;
}

.m-middle-stem {
	width: 60px;
	height: 100px;
	background: black;
	position: absolute;
	left: 170px;
	top: 75px;
}

.m-circle2 {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 170px;
	top: -25px;
}

.m-circle-white2 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 230px;
	top: 35px;
}

.m-rect-white2 {
	width: 140px;
	height: 100px;
	background: white;
	position: absolute;
	top: 75px;
	left: 230px;
}

.m-right-stem {
	width: 60px;
	height: 225px;
	background: black;
	position: absolute;
	left: 310px;
	top: 75px;
}


/* letter n */
.n-stem {
	width: 60px;
	height: 325px;
	background: black;
	position: absolute;
	left: 30px;
	top: -25px;
}

.n-serif-block {
	width: 50px;
	height: 90px;
	background: black;
	position: absolute;
	left: 0;
	top: -25px;
}

.n-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: -40px;
	top: 25px;
}

.n-circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 30px;
	top: -25px;
}

.n-rect-white {
	width: 140px;
	height: 100px;
	background: white;
	position: absolute;
	top: 75px;
	left: 90px;
}

.n-circle-white {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 90px;
	top: 35px;
}

.n-middle-stem {
	width: 60px;
	height: 225px;
	background: black;
	position: absolute;
	left: 170px;
	top: 75px;
}


/* letter o */
.o-circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 0;
	top: 25px;
}

.o-circle-bottom {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 0;
	top: 100px;
}

.o-stem {
	width: 60px;
	height: 90px;
	background: black;
	position: absolute;
	left: 0;
	top: 115px;
}

.o-stem2 {
	width: 60px;
	height: 90px;
	background: black;
	position: absolute;
	left: 140px;
	top: 115px;
}

.o-circle-top {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 60px;
	top: 75px;
}

.o-circle-bottom2 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 60px;
	top: 160px;
}

.o-rect-mid {
	width: 80px;
	height: 80px;
	background: white;
	position: absolute;
	left: 60px;
	top: 120px;
}


/* letter p */
.p-stem {
	width: 60px;
	height: 350px;
	background: black;
	position: absolute;
	left: 30px;
	top: -25px;
}

.p-serif-block {
	width: 50px;
	height: 90px;
	background: black;
	position: absolute;
	left: 0;
	top: -25px;
}

.p-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: -40px;
	top: 25px;
}

.p-circle {
	width: 190px;
	height: 190px;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	background: black;
	position: absolute;
	left: 40px;
	top: -25px;
}

.p-circle-w {
	width: 85px;
	height: 85px;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	background: white;
	position: absolute;
	left: 90px;
	top: 25px;
}


/* letter q */
.q-serif-block {
	width: 90px;
	height: 90px;
	background: black;
	position: absolute;
	left: 140px;
	top: -25px;
}

.q-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 200px;
	top: 25px;
}

.q-circle {
	width: 200px;
	height: 200px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	background: black;
	position: absolute;
	left: 0;
	top: -25px;
}

.q-circle2 {
	width: 80px;
	height: 80px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	background: white;
	position: absolute;
	left: 60px;
	top: 35px;
}

.q-stem {
	width: 60px;
	height: 325px;
	background: black;
	position: absolute;
	left: 140px;
	top: 0;
}


/* letter r */
.r-stem {
	width: 60px;
	height: 325px;
	background: black;
	position: absolute;
	left: 30px;
	top: -25px;
}

.r-serif-block {
	width: 50px;
	height: 90px;
	background: black;
	position: absolute;
	left: 0;
	top: -25px;
}

.r-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: -40px;
	top: 25px;
}

.r-circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 30px;
	top: -25px;
}

.r-rect-white {
	width: 140px;
	height: 100px;
	background: white;
	position: absolute;
	top: 75px;
	left: 90px;
}

.r-circle-white {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 90px;
	top: 35px;
}


/* letter s */
.s-circle-top2 {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 0;
	top: 125px;
}

.s-circle-topw2 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 60px;
	top: 175px;
}

.s-rect-white2 {
	width: 100px;
	height: 100px;
	background: white;
	position: absolute;
	top: 120px;
	left: 0;
}

.s-circle-top {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 0;
	top: -25px;
}

.s-rect-white {
	width: 100px;
	height: 50px;
	background: white;
	position: absolute;
	top: 65px;
	left: 100px;
}

.s-circle-topw {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 60px;
	top: 35px;
}


/* letter t */
.t-stem {
	width: 60px;
	height: 250px;
	background: black;
	position: absolute;
	left: 30px;
	top: -25px;
}

.t-serif-block {
	width: 50px;
	height: 90px;
	background: black;
	position: absolute;
	left: 0;
	top: -25px;
}

.t-circle-bottom {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 30px;
	top: 125px;
}

.t-rect-white {
	width: 140px;
	height: 100px;
	background: white;
	position: absolute;
	top: 125px;
	left: 90px;
}

.t-circle2 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 90px;
	top: 185px;
}

.t-bar {
	width: 140px;
	height: 55px;
	background: black;
	position: absolute;
	left: 0;
	top: 20px;
}

.t-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: -40px;
	top: -50px;
}


/* letter u */
.u-stem {
	width: 60px;
	height: 250px;
	background: black;
	position: absolute;
	left: 30px;
	top: -25px;
}

.u-serif-block {
	width: 50px;
	height: 90px;
	background: black;
	position: absolute;
	left: 0;
	top: -25px;
}

.u-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: -40px;
	top: 25px;
}

.u-circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 30px;
	top: 125px;
}

.u-rect-white {
	width: 140px;
	height: 100px;
	background: white;
	position: absolute;
	top: 120px;
	left: 90px;
}

.u-circle-white {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 90px;
	top: 180px;
}

.u-middle-stem {
	width: 60px;
	height: 250px;
	background: black;
	position: absolute;
	left: 170px;
	top: -25px;
}


/* letter v */
.v-bar1 {
	width: 300px;
	height: 55px;
	background: black;
	position: absolute;
	transform: rotateZ(65deg);
	top: 120px;
	left: -60px;
}

.v-bar2 {
	width: 300px;
	height: 55px;
	background: black;
	position: absolute;
	transform: rotateZ(-65deg);
	top: 120px;
	left: 70px;
}

.v-bottom {
	width: 50px;
	height: 55px;
	background: black;
	position: absolute;
	left: 130px;
	top: 245px;
}

.v-bottom1 {
	width: 100px;
	height: 55px;
	background: black;
	position: absolute;
	left: -10px;
	top: 0px;
}

.v-top1 {
	width: 100px;
	height: 55px;
	background: black;
	position: absolute;
	left: 210px;
	top: 0;
}

/* letter w */
.w-stem {
	width: 60px;
	height: 260px;
	background: black;
	position: absolute;
	left: 30px;
	top: -25px;
}

.w-serif-block {
	width: 50px;
	height: 90px;
	background: black;
	position: absolute;
	left: 0;
	top: -25px;
}

.w-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: -40px;
	top: 25px;
}

.w-circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 30px;
	top: 125px;
}

.w-rect-white {
	width: 140px;
	height: 100px;
	background: white;
	position: absolute;
	top: 125px;
	left: 90px;
}

.w-circle-white {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 90px;
	top: 180px;
}

.w-middle-stem {
	width: 60px;
	height: 100px;
	background: black;
	position: absolute;
	left: 170px;
	top: 130px;
}

.w-circle2 {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 170px;
	top: 125px;
}

.w-circle-white2 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 230px;
	top: 180px;
}

.w-rect-white2 {
	width: 140px;
	height: 100px;
	background: white;
	position: absolute;
	top: 125px;
	left: 230px;
}

.w-right-stem {
	width: 60px;
	height: 255px;
	background: black;
	position: absolute;
	left: 310px;
	top: -25px;
}


/* letter x */
.x-bar1 {
	width: 300px;
	height: 55px;
	background: black;
	position: absolute;
	transform: rotateZ(-51deg);
	top: 120px;
	left: -35px;
}

.x-bar2 {
	width: 300px;
	height: 55px;
	background: black;
	position: absolute;
	transform: rotateZ(51deg);
	top: 120px;
	left: -35px;
}

.x-bottom {
	width: 100px;
	height: 55px;
	background: black;
	position: absolute;
	left: -20px;
	top: 245px;
}

.x-bottom1 {
	width: 100px;
	height: 55px;
	background: black;
	position: absolute;
	left: 150px;
	top: 245px;
}

.x-top {
	width: 100px;
	height: 55px;
	background: black;
	position: absolute;
	left: -20px;
	top: 0;
}

.x-top1 {
	width: 100px;
	height: 55px;
	background: black;
	position: absolute;
	left: 150px;
	top: 0;
}


/* letter y */
.y-stem {
	width: 60px;
	height: 230px;
	background: black;
	position: absolute;
	left: 140px;
	top: 0;
}

.y-circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: black;
	position: absolute;
	left: 0px;
	top: 125px;
}

.y-rect-white {
	width: 140px;
	height: 100px;
	background: white;
	position: absolute;
	top: 125px;
	left: 0px;
}

.y-circle2 {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 60px;
	top: 185px;
}

.y-circle22 {
	width: 200px;
	height: 200px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	background: black;
	position: absolute;
	left: 0;
}

.y-circle-w {
	width: 85px;
	height: 85px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	background: white;
	position: absolute;
	left: 55px;
	top: 60px;
}

.y-rect2 {
	width: 85px;
	height: 95px;
	background: white;
	position: absolute;
	left: 55px;
	top: 0;
}

.y-serif-block {
	width: 90px;
	height: 90px;
	background: black;
	position: absolute;
	left: 140px;
}

.y-serif-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 200px;
	top: 55px;
}


/* letter z */
.z-bar {
	width: 230px;
	height: 55px;
	background: black;
	position: absolute;
	left: 0;
	top: 0;
}

.z-bar2 {
	width: 230px;
	height: 55px;
	background: black;
	position: absolute;
	left: 0;
	top: 245px;
}

.z-middlebar {
	width: 300px;
	height: 55px;
	background: black;
	position: absolute;
	transform: rotateZ(-51deg);
	top: 120px;
	left: -35px;
}

.z-bar3 {
	width: 160px;
	height: 55px;
	background: black;
	position: absolute;
	left: 40px;
	top: 110px;
}
